:root {
    --background-color: rgb(102, 0, 78);
    --color-text-background: white;

    --border-img: 1px solid black;
    --padding-img: 1px;
    --box-img-shadow: 0 0 30px gray;
    --background-img-color: white;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
}

nav a {
    color: var(--color-text-background);
    display: block;
    padding: 20px;

}

main {
    max-width: 840px;
}

h1 {
    color: var(--background-color);
}

main img {
    width: 200px;
    height: auto;
    border: var(--border-img);
    padding: var(--padding-img);
    box-shadow: var(--box-img-shadow);
    background-color: var(--background-img-color);
}

aside {
    width: 320px;
    margin: 16px;
    border: var(--border);
    padding: 16px;
    background-color: var(--background-color);
    color: var(--color-text-background);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    border: var(--border-img);
    padding: var(--padding-img);
    box-shadow: var(--box-img-shadow);
    background-color: var(--background-img-color);
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: var(--border-img);
    text-align: center;
}